.margin-bottom-sm{
    margin-bottom: 20px;
}
.margin-bottom-0 {
    margin-bottom: 0;
}
.navbar{
    background-color: rgba(7, 238, 255, 0.13);
}

.carousel .carousel-inner .item{
    max-height: 400px;
}

.carousel .carousel-inner .item img{
    width: 100%;

}
.margin-left {
    margin-block-end: 10px;

}

body {
    background-color: rgba(7, 7, 168, 0.116);
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-300{
    margin-top: 200px;
}

.icon-bar {
    background-color:  rgba(9, 27, 190, 0.651);
}



